body{
    background-color: #1F2937;
    margin-left: auto;
    margin-right: auto;
    
}

.main{
    padding:75px 0 0 52px;
    
}

h1{
    color: #ffffff;
    font-size: 40px;
    font-weight: bold;
    font-family: 'Karla', sans-serif;
}

.instructions{
    font-size: 15px;
    margin-top: 10px;
    color: #FBBF24;
}

.password-El{
    border-top: 1px #111827 solid;
    margin: 40px 52px 0 52px;
    
    
}

.h1-span {
    color: #FBBF24;
    margin-top: 10px;
}

.user-def{
    height: 42px;
    width: 250px;
    color: #FBBF24;
    border-style: none;
    background-color: #374151;
    margin: 20px 0 0 0;
    border-radius: 6px;
    font-size: 20px;
    font-family: 'inter', sans-serif;
    text-align: center;
}

button {
    background-color: #FBBF24;
    color: #ffffff;
    border: none;
    border-radius: 6px;
    height: 42px;
    width: 250px;
    margin-top: 20px;
    margin-left: 10px;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    padding: 9px 17px 9px 15px;
    text-align: center;

}

.icon-1{
    
    height: 20px;
    width: 20px;
    margin:0;
    padding: 0 15px 0px 0;
}

p{
    color: #D5D4D8;
    font-size: 20px;
    font-family: 'Inter', sans-serif;
    margin:0;
}

.password-list{
    display: flex;
    
}

.password {
    color: #FBBF24;
    font-family: 'Inter', sans-serif;
    margin: 35px 20px 0 0;
    background-color: #374151;
    border-radius: 6px;
    width: 250px;
    height: 40px;
    text-align: center;
    padding-top:20px;
}

.icon-2{
    width: 20px;
    height: 5px;
}

.instruction-max {
    
    color:#D5D4D8;
}